Source: adapt
Maintainer: Christoph Rosemann <christoph.rosemann@desy.de>
Uploaders: Christoph Rosemann <christoph.rosemann@desy.de>
Section: science
Priority: extra
Build-Depends: debhelper (>= 9), dh-python, python-dev, python3-all-dev
Standards-Version: 3.9.8

Package: python3-adapt
Architecture: any
Section: python
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-yaml,
         python3-numpy,
         python3-scipy,
         python3-matplotlib,
         python3-pyqt4,
         python3-pyqtgraph
Recommends:
       python3-lmfit,
       python3-pensant,
       python3-psio,
       pyfai
Description: A DAta Processing Toolkit
    Formally it is a library that can be used to execute pre-defined processes by providing
    a yaml-style configuration file.
    Processes follow a prototype.
    The processing is strictly sequential for the time being.
    .
    The main purpose is to allow automated data processing in batch mode.
    That is: run the same procedure with identical configuration over large amounts of data files.
    .
    The implemented processes focus on data processing at PETRA III at DESY.
    Data reading and parameter estimation are incorporated by external libraries.
    .
    The library can be used to build applications as well.
    The first example is iint-gui, built specifically for the beamline P09 at PETRA III.
    It consists of a graphical user interface that can be used to set and run a particular configuration.
    In addition, several data views are implmented.
